*{
    margin: 0;
    padding: 0;
}

html,body,#wrapper{
    width: 100%;
    height: 100%;
}

#wrapper{
    background-color: #20262e;
    position: relative;
}

#game-div{
    margin: auto;
    background-color: #20262e;
    position: absolute;
    bottom:0;
    top: 0;
    right: 0;
    left: 0;
}

.target{
    border-radius: 50%;
    background-color: #1759e8;
    position: absolute;

    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.39);
}

.target:before {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    content: ' ';
    left: 15%;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.1);
}

.target:after {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    content: ' ';
    left: 35%;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes explode {
    from {

    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}

#game-timer{
    color: #111;
    font-size: 50px;
    text-align: center;
    position: absolute;
    width: 100%;
}
#startgame-btn {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1759e8;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    transform: scale(2);
    color: #fbfbfb;
    font-weight: bold;
    outline: none;
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.39);
    text-align: center;
    line-height: 45px;
}

#startgame-btn:before {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    content: ' ';
    left: 15%;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.1);

}
